<ion-view title="sumbon">
<ion-content>
<div>
<h2><strong>How it all Started</strong></h2>
<img src="/img/founder.jpg" width="120px" height="120px" alt="sumbon logo"/>

<p>It has always been important to my wife and me that we raise our daughter, Adya, to value social responsibility. We both grew up in India, and gave back to the community in alignment with the values we learned from our own parents. It was important to us that we instill in Adya a commitment to care for the less fortunate in the same way that we ourselves had learned to growing up. These teachable moments started a few years ago when we were planning on celebrating Adya’s, birthday jointly with her best friend Zosia. Both sets of parents decided to forgo traditional presents in favor of having our daughters raise funds for a grassroots charity.</p>
<p>It was a great idea, but our trouble began when we set out to look for the right organization. We knew that many smaller non-profits were able to achieve a lot with a little and we were eager to help Adya and Zosia see the impact of their support. This proved more difficult than we anticipated. It was shocking to us that, despite the barrage of social information we seem to have about many other topics, we knew little to nothing about the charitable giving interests or patterns of even our closest friends. This lack of transparency and tendency for friends not to talk about what organizations they were giving to made it more difficult to find new charities, let alone the right ones. After much deliberation and not much luck, we ended up settling on one of the more well known, big-name charities.</p>
<p>Our problems didn’t end there. This issue fully revealed itself when we gave the money that our daughter and her friend had fundraised to the organization we chose. Though our goal had been to help our daughter understand the importance of giving by knowing the impact that she was making, not only did we not hear anything back from the organization we supported, we did not receive even a simple “thank you” in reply.</p>
<p>But we did get something really annoying in return: a form letter asking for more money every 2-3 months.</p>
<img src="/img/letter.png" width="100px" height="140px" alt="sumbon logo"/>
<p class="wp-caption-text">A sample form letter</p></div>
<p>This was when Vanita and I started thinking that there had to be a better way to give—to find out about new organizations we hadn’t yet considered and to hear about the donor experience. That’s how the idea for Sumbon was born.</p>
<p style="text-align: left;">Quitting Apple and Starting Sumbon – How my Six Year Old Daughter Inspired Me</p>
<p style="text-align: left;"><span style="color: #ff6600;">MAY 20, 2016 BY THE SUMBON TEAM</span></p>
<button type="button" style="background-color:orange"onclick="">Read Our Blog</button>

</div>
</ion-content>
</ion-view

