<ion-view view-title="Home">
    <ion-content class="bodybackground">
        <div>
            <div id="Philanthropy">Philanthropy Made Easy</div>
            <p id="Philanthropycontent">Deciding which charitable organizations to support can be overwhelming. Sumbon shows you it doesn’t have to be.
            </p>
        </div>
        <div class="column-display1">
            <div id="card1">
                <h3>Select causes you care about</h3>
                <span class="image_column"><img src="/img/heart2.png" alt=""/></span>
                <p>Browse non-profits around the world and manage your donations as a portfolio.</p>
            </div>
            <div id="card2">
                <h3>Share your insights</h3>
                <span class="image_column"><img src="/img/share_insight.png" alt=""/></span>
                <p>Rate and review non-profits and read others’ reviews.</p>
            </div>
            <div id="card1">
                <h3>Review your impacts</h3>
                <span class="image_column"><img src="/img/Review.png" alt=""/></span>
                <p>Track how you made a difference and invite others to join in.</p>
            </div>
            <div id="card2">
                <h3>Centrally manage your tax deductions</h3>
                <span class="image_column"><img src="/img/taximage.png" alt=""/></span>
                <p>View all of your donation amounts and non-profit details in a single dashboard.</p>
            </div>
            <div id="card3">
                <span class="image_column"><img src="/img/money.png" alt=""/></span>
                <h3>Choose Where Your Money Goes</h3>
                <p>Identify specific projects you want to support within a non-profit’s portfolio.</p>
            </div>
            <div id="card3">
                <span class="image_column"><img src="/img/experience.png" alt=""/></span>
                <h3>Share Your Experiences</h3>
                <p>Rate and review non-profits you’ve given to and read other donors’ reviews.</p>
            </div>
        </div>
    </ion-content>
</ion-view>
