<ion-view view-title="Sumbon Tour">
  <ion-content>
  <div>
<!-- <script type="text/javascript">
		document.documentElement.className = 'js';
</script> -->
<h2><strong>Sumbon Tour - Sumbon</strong></h2>
<h2 class="et_pb_slide_title">What is Sumbon</h2>
<h3 style="text-align: center; font-size: 16px;">Sumbon is the desire to achieve the highest good – or Summum Bonum in Latin – is within all of us.</h3>
<!--<img src="/img/founder.jpg" width="120px" height="120px" alt="sumbon logo"/>-->
<div id="video" class="et_pb_section  et_pb_section_1 et_section_regular">
<div class=" et_pb_row et_pb_row_0">
<div class="et_pb_column et_pb_column_4_4  et_pb_column_0">
<div class="et_pb_module et_pb_video  et_pb_video_0">
<div class="et_pb_video_box">
<iframe width="200" height="100" src="https://www.youtube.com/embed/MjMOBqwdr3Q?feature=oembed" frameborder="0" allowfullscreen></iframe>
</div>
<div class="et_pb_video_overlay" style="background-image: url(https://www.youtube.com/watch?v=MjMOBqwdr3Q);">
<div class="et_pb_video_overlay_hover">
<a href="#" class="et_pb_video_play"></a>
</div>
</div>
</div>
</div>  
</div>  
</div> 
<p>We perform acts of giving to make the world a better place for everyone. But this desire to make a difference should be easier to act upon. Taking the friction out of the giving process is one of the key problems SumBon was conceived to solve.</p>
<p>In the age of connected devices, social media and information flow, we believe that there is a more efficient and rewarding way for both donors and charities to engage in a meaningful conversation. Sumbon’s platform makes it easy for donors to identify causes, give thoughtfully, see their impacts and inspire others while providing non-profits with a better way to engage with donors globally.</p>
<p>Registration is easy. Create an account with only your first name, last name and e-mail address and begin browsing non-profits today.</p>

<script type='text/javascript' src='https://www.sumbon.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.22.0'></script>
<script type='text/javascript' src='https://www.sumbon.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.7.2'></script>
</div>
  </ion-content>
</ion-view>
